<div class="container grow">
  <div class="mx-auto w-full py-4 px-8 md:py-8 md:px-16 rounded-xl glassmorphism">
    <h2 class="text-3xl">Your files</h2>
    <div class="flex flex-wrap gap-5">
      <% user.user_files.each do |file| %>
        <div class="basis-1/6">
        <% if file_extensions.include? file.file.extension.downcase %>
          <%= image_tag(file.url, alt: file.identifier, class: "rounded-lg") %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>