<div class="flex justify-between mb-1">
  <span class="text-base font-medium text-purple-700 dark:text-white">Used <%= storage_space_used_percentage %> of 1&nbsp;GB storage space</span>
  <span class="text-sm font-medium text-purple-700 dark:text-white text-right"><%= storage_space_left_megabytes %> left</span>
</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
  <div class="bg-purple-600 h-2.5 rounded-full" style="width: <%= storage_space_used_percentage %>;"></div>
</div>