<div class="grow flex gap-10 flex-wrap xl:flex-nowrap">
  <div class="grow" id="user--uploads-form-wrapper">
    <%= render partial: "form", locals: { user: @user } %>
  </div>
  <div class="grow">
    <%= render partial: "files_list", locals: { user: @user } %>
  </div>
</div>