<div class="container grid grid-cols-1 md:grid-cols-2 gap-20">
  <%= link_to users_uploads_path, class: "relative h-64 w-80 py-4 px-8 md:py-8 md:px-16 rounded-xl flex flex-wrap justify-self-center md:justify-self-end justify-center content-center glassmorphism hover:shadow-lg hover:shadow-purple-500/50" do %>
    <span class="absolute text-sm top-0 left-0 py-2 pl-4 flex items-center text-gray-900 dark:text-white">
      <span class="flex w-2.5 h-2.5 bg-lime-600 rounded-full mr-1.5 flex-shrink-0 animate-pulse"></span>
      Now Available!
    </span>
    <h2 class="text-2xl text-center">File hosting</h2>
  <% end %>
  <%= link_to cryptocurrencies_path, class: "relative h-64 w-80 py-4 px-8 md:py-8 md:px-16 rounded-xl flex flex-wrap justify-self-center md:justify-self-start justify-center content-center glassmorphism hover:shadow-lg hover:shadow-purple-500/50" do %>
    <span class="absolute text-sm top-0 left-0 py-2 pl-4 flex items-center text-gray-900 dark:text-white">
      <span class="flex w-2.5 h-2.5 bg-lime-600 rounded-full mr-1.5 flex-shrink-0 animate-pulse"></span>
      Now Available!
    </span>
    <h2 class="text-2xl text-center">Cryptocurrencies Dashboard</h2>
  <% end %>
  <div class="relative h-64 w-80 py-4 px-8 md:py-8 md:px-16 rounded-xl flex flex-wrap justify-self-center md:justify-self-end justify-center content-center glassmorphism hover:shadow-lg hover:shadow-purple-500/50">
    <span class="absolute text-sm top-0 left-0 py-2 pl-4 text-slate-400">Coming soon...</span>
    <h2 class="text-2xl text-center">Transactions analizer</h2>
  </div>
  <div class="relative h-64 w-80 py-4 px-8 md:py-8 md:px-16 rounded-xl flex flex-wrap justify-self-center md:justify-self-start justify-center content-center glassmorphism hover:shadow-lg hover:shadow-purple-500/50">
    <span class="absolute text-sm top-0 left-0 py-2 pl-4 text-slate-400">Coming soon...</span>
    <h2 class="text-2xl text-center">Notes</h2>
  </div>
</div>
