<div class="container grid grid-cols-2 gap-20 place-content-center">
  <div class="h-64 w-80 py-4 px-8 md:py-8 md:px-16 rounded-xl flex flex-wrap content-center glassmorphism">
    <h2 class="text-2xl text-center">File hosting</h2>
  </div>
  <div class="h-64 w-80 py-4 px-8 md:py-8 md:px-16 rounded-xl flex flex-wrap content-center glassmorphism">
    <h2 class="text-2xl text-center">Transactions history</h2>
  </div>
  <div class="h-64 w-80 py-4 px-8 md:py-8 md:px-16 rounded-xl flex flex-wrap content-center glassmorphism">
    <h2 class="text-2xl text-center">Notes</h2>
  </div>
  <div class="h-64 w-80 py-4 px-8 md:py-8 md:px-16 rounded-xl flex flex-wrap content-center glassmorphism">
    <h2 class="text-2xl text-center"><i class="fa-solid fa-ellipsis fa-2x"></i></h2>
  </div>
</div>
