<footer class="mt-auto w-screen bg-white shadow dark:bg-slate-950 border-t border-gray-200 dark:border-gray-600">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">©&nbsp;<%= Time.zone.now.year %> <a href="https://www.linkedin.com/in/daniel-mirochna-00780b1b1" class="hover:underline">Daniel Mirochna</a>. Created for educational and personal use only
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a href="https://github.com/Daniel-Mirochna" target="_blank" class="mr-4 hover:underline md:mr-6">GitHub</a>
    </li>
  </ul>
  </div>
</footer>